<img src="/img/Img-Cover.png" alt="">
<p class="gameDescription">
  Imagenya masih static ambil dari asset, jangan insert banyak-banyak gambarnya terbatas hehe. Project JS pertama gw, masih binggung cara upload image ke DB.
  <br><br>
  Import/Copy data mySql dari file yang ada di github, soalnnya di dalem SQLnya gw masukin Function triggerd.
</p>
<div class="Lfooter">
  <p>R.I.P</p>
  <img src="/img/semc_logo.png" alt="">
</div>
